@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Ubuntu&display=swap");
/* Variables */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  line-height: normal !important;
  cursor: default;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #bbb;
}

.w-100 {
  max-height: 490px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  width: 100% !important;
  height: 450px !important;
}

.carousel-control-prev:hover {
  background: none !important;
  opacity: 0.3;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.carousel-control-next:hover {
  background: none !important;
  opacity: 0.3;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container {
  position: relative;
  padding: 0 !important;
}

.carousel-item a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #aaa;
}

.carousel-item a:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #00ddd6 !important;
}

@media (min-width: 830px) {
  .w-100 {
    height: auto !important;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: none !important;
    padding: 0px !important;
  }
}

.bottomleft {
  position: absolute;
  bottom: 14px;
  left: 16px;
  font-size: 18px;
}

img {
  width: 100%;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

section img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 400px;
  min-width: 100px;
  min-height: 200px;
  max-height: 200px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff !important;
}

#nav-favicon {
  width: 2.8%;
  min-width: 37px;
  max-width: 38px;
}

.bg-light {
  background: #090909 !important;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 7px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
  }
}

.carousel-item {
  -webkit-transition: opacity .3s ease-out, -webkit-transform 1s ease;
  transition: opacity .3s ease-out, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .3s ease-out;
  transition: transform 1s ease, opacity .3s ease-out, -webkit-transform 1s ease;
}

.navbar > .container-fluid {
  background: #090909;
}

.navbar-light .navbar-brand {
  color: #fff;
  padding: 0px 5px;
}

.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-toggler-icon {
  color: #fff;
  display: contents;
}

.navbar-light .navbar-nav .nav-link.active {
  padding: 11px 8px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #00c7c0 !important;
  background: #111;
  border-radius: 3px;
  -webkit-transition: 0.1s !important;
  transition: 0.1s !important;
}

button {
  color: #fff !important;
  -webkit-transition: 0.1s !important;
  transition: 0.1s !important;
  padding: 10px 13px;
}

button:hover {
  background: #111;
  color: #00c7c0 !important;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.navbar-toggler {
  padding: 10px;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    display: initial !important;
  }
  .parent div {
    margin: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  #nav-favicon {
    display: none;
  }
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 13px;
}

.parent div {
  border: 1px solid #444;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.parent div:hover {
  border: 1px solid #999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #bbb;
}

.parent a {
  cursor: default;
}

.preview {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.preview img {
  width: 100%;
  max-height: 185px;
  min-height: 185px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 15px;
}

.preview:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 14px;
  background: #111;
}

#martinval9-github {
  -webkit-transition: 0.1s !important;
  transition: 0.1s !important;
}

#martinval9-github:hover {
  color: #00c7c0 !important;
  -webkit-transition: 0.1s !important;
  transition: 0.1s !important;
}

@media screen and (max-width: 1024px) {
  .parent {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    padding: 10px;
  }
  .parent div {
    font-size: 2vh;
    height: initial;
  }
  .preview img {
    max-height: 285px;
    min-height: 195px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #007774;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #00ddd6 solid;
  border-bottom: 1px #00ddd6 solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

.go-up-btn {
  display: none;
  padding: 16px 18px;
  background: #007774;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}

.go-up-btn:hover {
  background: #004d4a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scroll_down {
  text-align: center;
  margin-top: 35px;
  color: #e9e9e9;
}
/*# sourceMappingURL=index.css.map */